@font-face{font-family:"RNAFont";
           src:url("Styles/Font/nassim-regular.eot");
           src:local("‚ò∫"),url("/Styles/Font/nassim-regular.woff") format("woff"),url("/Styles/Font/nassim-regular.ttf") format("truetype");
           font-weight:normal;font-style:normal}
@font-face{font-family:"RNAFont";
            src:url("/Styles/Font/nassim-bold.eot");
            src:local("‚ò∫"),url("/Styles/Font/nassim-bold.woff") format("woff"),url("/Styles/Font/nassim-bold.ttf") format("truetype");
            font-weight:bold;font-style:normal}